h1 {
	font-size: 17px;
	font-weight: 600;
}

header button {
	padding: 0 12px;
}

main article {
	display: grid;
	grid-template-rows: max-content 1fr;
	width: calc(100vw - 24px);
	max-width: 450px;
}

.grid--layout {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 8px;
	height: 100vw;
	max-height: 450px;
	width: 100%;
}

.grid--layout__add {
	background-color: var(--grey-light);

	& app-component-button {
		transform: scale(1.5);
	}
}

.grid--layout__first {
	position: relative;

	& div {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: var(--white);
	}
}

.grid--layout__image {
	position: relative;

	& img {
		width: calc((100vw - 56px) / 3);
		height: calc((100vw - 56px) / 3);
		aspect-ratio: 1 / 1;
		object-fit: contain;
	}

	& app-component-button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: var(--white);
	}
}
