<div class="box three">
	<header class="flex gp-4 pd-12">
		<app-component-button [type]="'MINI'" [icon]="'navigate_before'" (click)="back()" />

		@if (conf().title) {
			<h1>{{ 'Menu de ' + conf().title }}</h1>
		} @else {
			<h1>Cargando...</h1>
		}
	</header>

	<main class="fle col gp-30 pd-12">
		@defer (when conf().status === complete) {
			<form [formGroup]="form">
				<mat-form-field appearance="outline" class="w">
					<mat-label>Título de la biblioteca</mat-label>

					<div class="flex">
						<input #input type="text" matInput placeholder="Ingrese un título de la biblioteca" formControlName="title" maxlength="21" />

						@if (form.get('title')?.value) {
							<app-component-button [type]="'ICON'" [icon]="'delete'" [suffix]="true" (click)="form.get('title')?.setValue(null)" />
						}
					</div>

					<mat-hint [align]="'end'">{{ 20 - form.get('title')?.value?.length }}</mat-hint>

					<mat-error>{{ getErrorMessage(form.get('title')!) }}</mat-error>
				</mat-form-field>
			</form>

			<section class="grid bd br-4">
				<button type="button" class="btn grid pd-12 tx-left">
					Nuevo {{ conf().button.label }}

					<app-component-button [type]="'ICON'" [icon]="'add'" />
				</button>

				<hr />

				<button type="button" class="btn grid pd-12 tx-left disabled">
					Enlace directo de acceso rápido

					<app-component-button [type]="'ICON'" [icon]="'offline_share'" />
				</button>

				<hr />

				<button type="button" class="btn grid pd-12 tx-left disabled">
					Descargar PDF

					<app-component-button [type]="'ICON'" [icon]="'picture_as_pdf'" />
				</button>

				<hr />

				<button type="button" class="btn grid pd-12 tx-left">
					Personaliza tu propio filtro

					<app-component-button [type]="'ICON'" [icon]="'filter_alt'" />
				</button>

				<hr />

				<button type="button" class="btn grid pd-12 tx-left">
					<div class="grid gp-4">
						<p class="required tx-visible">Vista de las miniaturas</p>

						Clásica
					</div>

					<app-component-button [type]="'ICON'" [icon]="'edit'" />
				</button>
			</section>
		} @placeholder {
			<div class="h">
				<app-component-loading />
			</div>
		}
	</main>

	<footer>
		<button type="button" class="flex bet w pd-8">
			Déjanos saber si necesitas algo

			<app-component-button [type]="'ICON'" [icon]="'chat'" [color]="'var(--white)'" />
		</button>
	</footer>
</div>
