@defer (when user().status === loaded || user().status === complete) {
	@if (user().data.logged) {
		<button type="button" (click)="profile()" class="br-50 grid-place">
			@if (user().data.image) {
				<img [src]="user().data.image" [alt]="user().data.email" class="br-50 w h" />
			} @else {
				<p>
					{{
						user().data.name
							? user().data.name!.charAt(0)
							: user().data.surname
								? user().data.surname!.charAt(0)
								: user().data.email!.charAt(0)
					}}
				</p>
			}
		</button>
	} @else {
		<app-component-button [type]="'MINI'" [icon]="'person'" (click)="login()" />
	}
} @placeholder {
	<div class="grid-place">
		<app-component-loading />
	</div>
}
