p {
	font-size: 17px;
	font-weight: 600;
	background-color: var(--violet);
	color: var(--white);
	text-transform: uppercase;
}

img {
	aspect-ratio: 1/1;
	object-fit: cover;
}

img,
div,
p {
	width: 36px;
	height: 36px;
}

div,
p {
	place-items: center;
}
