<div class="box">
	<header>
		<div class="flex bet">
			<div class="flex gp-4">
				<app-component-button [type]="'MINI'" [icon]="'navigate_before'" (click)="core.back()" />
				<h1>Editar la vista</h1>
			</div>
			@if (change) {
				<button type="button" class="option" style="padding: 0 12px" (click)="save()">Guardar</button>
			}
		</div>

		<div class="flex cen" style="padding: 36px 20px; background-image: linear-gradient(to right, #814dec, #485abb)">
			<button type="button" class="bd br-4 gp-8 pd-12 w" style="background-color: #fff">
				<div class="grid gp-4 tx-left">
					@for (option of options; track $index) {
						<!-- [class] condicionales para aplicar estilos a la cabecera o al titulo -->
						<p [class]="$index === 0 ? 'required flex' : $index === 1 ? 'title flex' : 'flex'">
							@if (this.selectedItems[$index].length > 0) {
								@for (item of this.selectedItems[$index]; track $index) {
									{{ items[item] + '. ' }}
								}
							} @else {
								{{ option }}
							}

							<app-component-button
								[type]="'ICON'"
								[icon]="'edit'"
								color="#a1a1a1"
								[style]="selectionEdit === $index + 1 ? 'background-color: #d9d9d9; border-radius:50%' : ''"
								(click)="selectionEdit = $index + 1"
							/>
						</p>
					}
				</div>
			</button>
		</div>
	</header>

	<main>
		@for (item of items; track $index) {
			<div class="flex bet" style="padding: 2px 12px">
				{{ item }}
				<input
					type="radio"
					class="my-12"
					style="accent-color: #9747ff; width: 15px; height: 15px"
					[disabled]="selectionEdit ? false : true"
					[checked]="check($index)"
					(click)="selection($index)"
				/>
			</div>
			<hr />
		}
	</main>
</div>
