<div class="box pd-12">
	<header class="flex gp-8">
		<app-component-button [type]="'MINI'" [icon]="'arrow_back_ios'" [color]="'#c3c3c3'" />
		<h1>Multimedia</h1>
	</header>
	<!-- Clase limit para establecer el limite del drag - usado con cdkDragBoundary -->
	<main class="gp-8 limit" style="display: grid; grid-template-rows: 1fr max-content" cdkDropListGroup>
		<section
			class="gp-12"
			style="display: grid; grid-template-rows: repeat(3, 1fr); grid-template-columns: repeat(3, 1fr)"
		>
			@for (item of items; track $index) {
				<article cdkDropList [cdkDropListData]="{ item: item, index: $index }" (cdkDropListDropped)="drop($event)">
					<div
						cdkDrag
						cdkDragBoundary=".limit"
						class="fle cen br-8"
						style="
							background-position: center;
							width: 100%;
							height: 100%;
							align-items: flex-end;
							background-size: contain;
						"
						[style.background-image]="'url(' + item + ')'"
					>
						<button type="button" class="fle cen br-4" style="border: 1px solid #d4d4d4">
							<app-component-button [type]="'ICON'" [icon]="'drag_indicator'" color="#a1a1a1" cdkDragHandle />
						</button>
					</div>
				</article>
			}
		</section>

		<button
			type="button"
			class="flex cen br-12"
			style="height: 130px; background-color: #e9bb9f"
			cdkDropList
			(cdkDropListDropped)="deleteDrop($event)"
		>
			<app-component-button [type]="'ICON'" color="#b64400" [icon]="'delete'" />
		</button>
	</main>
</div>
