<main class="pd-12">
	<div class="categories limit" cdkDropListGroup>
		@for (item of items; track $index) {
			<div
				class="categories-item"
				cdkDropList
				cdkDropListOrientation="horizontal"
				[cdkDropListData]="{ item: item, index: $index }"
				(cdkDropListDropped)="drop($event)"
			>
				<div class="inner" cdkDragBoundary=".limit" cdkDrag style="position: relative">
					<div class="example-custom-placeholder" *cdkDragPlaceholder></div>
					<img [src]="item" alt="asdasd" cdkDragHandle />
				</div>
			</div>
		}
	</div>
</main>
