h2 {
	background-color: #000;
	color: var(--white);
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 1px;
}

main {
	padding-bottom: 72px !important;

	& article {
		grid-template-columns: 1fr max-content;

		& button {
			padding: 12px 0 12px 12px;

			& div {
				padding: 4px;
			}
		}
	}
}

footer div button,
footer div app-component-loading {
	bottom: 0;
	right: 0;
	padding: 12px 16px;
	margin: 0 12px 12px 0;
	background-color: rgba(234, 221, 255, 1);
	box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
	font-size: 16px;
}
