<header class="flex bet gp-8 pd-12">
	<div class="flex gp-4">
		<app-component-button [type]="'MINI'" [icon]="'navigate_before'" (click)="core.back()" />
		<h1>Elige una dirección</h1>
	</div>

	@if (checkForChanges()) {
		<button type="button" class="option" style="padding: 0 12px" (click)="save()">Guardar</button>
	}
</header>

<main class="grid gp-12 pd-12">
	<form [formGroup]="form" class="grid gp-12">
		<mat-form-field appearance="outline">
			<div class="flex bet">
				<input
					type="text"
					(input)="search(form.get('address')?.value)"
					(keydown.enter)="selectFirst(addressResults)"
					matInput
					formControlName="address"
					[matAutocomplete]="auto"
					placeholder="Ingrese una dirección"
				/>

				<app-component-button
					[type]="'ICON'"
					[icon]="'location_searching'"
					[suffix]="true"
					(click)="position()"
					style="padding-right: 10px"
				/>

				@if (form.get('address')?.invalid && form.get('address')?.touched) {
					<mat-error>{{ getErrorMessage(form.get('address')!) }}</mat-error>
				}

				<mat-autocomplete #auto="matAutocomplete">
					@for (prediction of addressResults | async; track $index) {
						<mat-option [value]="prediction.description" (click)="selectPlace(prediction)" style="font-size: 15px">
							<div class="flex gp-8">
								<app-component-button [type]="'ICON'" [icon]="'location_on'" style="width: fit-content" />
								<p>{{ prediction.description }}</p>
							</div>
						</mat-option>
					}
				</mat-autocomplete>
			</div>
		</mat-form-field>
	</form>
	<div class="h" style="height: 300px">
		<google-map
			height="100%"
			width="100%"
			[center]="config.center"
			[zoom]="config.zoom"
			[options]="config.options"
			(mapClick)="addMarker($event)"
		>
			<map-marker [position]="marker" />
		</google-map>
	</div>

	<form [formGroup]="form" class="grid gp-24">
		<!-- Codigo postal -->
		<mat-form-field appearance="outline">
			<mat-label>Código postal</mat-label>
			<input matInput formControlName="postalCode" #postal maxlength="9" placeholder="Ingrese el código postal" />
			<mat-hint align="end">{{ postal.value.length }}/9</mat-hint>
			@if (form.get('postalCode')?.invalid && form.get('postalCode')?.touched) {
				<mat-error>{{ getErrorMessage(form.get('postalCode')!) }}</mat-error>
			}
		</mat-form-field>

		<!-- Pais -->
		<mat-form-field appearance="outline">
			<mat-label>Pais</mat-label>
			<input
				(input)="searchCountries(country.value)"
				matInput
				formControlName="country"
				[matAutocomplete]="count"
				#country
				maxlength="100"
				placeholder="Ingrese el pais"
			/>
			<mat-hint align="end">{{ country.value.length }}/100</mat-hint>
			@if (form.get('country')?.invalid && form.get('country')?.touched) {
				<mat-error>{{ getErrorMessage(form.get('country')!) }}</mat-error>
			}
			<mat-autocomplete #count="matAutocomplete">
				@for (prediction of countryResults | async; track $index) {
					<mat-option [value]="prediction.description" (click)="selectPlace(prediction)" style="font-size: 15px">
						<div class="flex gp-8">
							<app-component-button [type]="'ICON'" [icon]="'location_on'" style="width: fit-content" />
							<p>{{ prediction.description }}</p>
						</div>
					</mat-option>
				}
			</mat-autocomplete>
		</mat-form-field>

		<!-- Provincia o estado -->
		<mat-form-field appearance="outline">
			<mat-label>Estado/provincia</mat-label>
			<input
				(input)="searchStateByCountry(state.value)"
				matInput
				formControlName="state"
				[matAutocomplete]="stat"
				#state
				maxlength="100"
				placeholder="Ingrese la provincia/estado"
			/>
			<mat-hint align="end">{{ state.value.length }}/100</mat-hint>
			@if (form.get('state')?.invalid && form.get('state')?.touched) {
				<mat-error>{{ getErrorMessage(form.get('state')!) }}</mat-error>
			}
			<mat-autocomplete #stat="matAutocomplete">
				@for (prediction of stateResults | async; track $index) {
					<mat-option [value]="prediction.terms[0].value" (click)="selectPlace(prediction)" style="font-size: 15px">
						<div class="flex gp-8">
							<app-component-button [type]="'ICON'" [icon]="'location_on'" style="width: fit-content" />
							<p>{{ prediction.terms[0].value }}</p>
						</div>
					</mat-option>
				}
			</mat-autocomplete>
		</mat-form-field>

		<!-- Ciudad -->
		<mat-form-field appearance="outline">
			<mat-label>Ciudad</mat-label>
			<input
				(input)="searchCityByState(city.value)"
				matInput
				formControlName="city"
				[matAutocomplete]="cit"
				#city
				maxlength="100"
				placeholder="Ingrese la ciudad"
			/>
			<mat-hint align="end">{{ city.value.length }}/100</mat-hint>
			@if (form.get('city')?.invalid && form.get('city')?.touched) {
				<mat-error>{{ getErrorMessage(form.get('city')!) }}</mat-error>
			}
			<mat-autocomplete #cit="matAutocomplete">
				@for (prediction of cityResults | async; track $index) {
					<mat-option [value]="prediction.terms[0].value" (click)="selectPlace(prediction)" style="font-size: 15px">
						<div class="flex gp-8">
							<app-component-button [type]="'ICON'" [icon]="'location_on'" style="width: fit-content" />
							<p>{{ prediction.terms[0].value }}</p>
						</div>
					</mat-option>
				}
			</mat-autocomplete>
		</mat-form-field>

		<!-- Calle -->
		<mat-form-field appearance="outline">
			<mat-label>Calle</mat-label>
			<input
				(input)="searchStreetByCity(street.value)"
				matInput
				[matAutocomplete]="stree"
				matAutocompletePosition="below"
				formControlName="street"
				#street
				maxlength="100"
				placeholder="Ingrese la ciudad"
			/>
			<mat-hint align="end">{{ street.value.length }}/100</mat-hint>
			@if (form.get('street')?.invalid && form.get('street')?.touched) {
				<mat-error>{{ getErrorMessage(form.get('street')!) }}</mat-error>
			}
			<mat-autocomplete #stree="matAutocomplete">
				@for (prediction of streetResults | async; track $index) {
					<mat-option [value]="prediction.terms[0].value" (click)="selectPlace(prediction)" style="font-size: 15px">
						<div class="flex gp-8">
							<app-component-button [type]="'ICON'" [icon]="'location_on'" style="width: fit-content" />
							<p>{{ prediction.terms[0].value }}</p>
						</div>
					</mat-option>
				}
			</mat-autocomplete>
		</mat-form-field>

		<!-- Número de la calle -->
		<mat-form-field appearance="outline">
			<mat-label>Número</mat-label>
			<input
				(input)="searchStreetNumber(streetNumber.value)"
				matInput
				[matAutocomplete]="number"
				formControlName="streetNumber"
				#streetNumber
				type="number"
				maxlength="16"
				matAutocompletePosition="below"
				placeholder="Ingrese el número"
			/>
			<mat-hint align="end">{{ streetNumber.value.length }}/16</mat-hint>
			@if (form.get('streetNumber')?.invalid && form.get('streetNumber')?.touched) {
				<mat-error>{{ getErrorMessage(form.get('streetNumber')!) }}</mat-error>
			}
			<mat-autocomplete #number="matAutocomplete" matAutocompleteOrigin>
				@for (prediction of streetNumberResults | async; track $index) {
					<mat-option
						[value]="prediction.structured_formatting.main_text.match(regex)"
						(click)="selectPlace(prediction)"
						style="font-size: 15px"
					>
						<div class="flex gp-8">
							<app-component-button [type]="'ICON'" [icon]="'location_on'" style="width: fit-content" />
							<p>{{ prediction.terms[0].value + ' ' + prediction.terms[1].value }}</p>
						</div>
					</mat-option>
				}
			</mat-autocomplete>
		</mat-form-field>

		<!-- Referencia -->
		<mat-form-field appearance="outline">
			<mat-label>Referencia</mat-label>

			<div class="fle gp-8">
				<textarea
					matInput
					#ref
					cdkTextareaAutosize
					maxlength="345"
					#autosize="cdkTextareaAutosize"
					cdkAutosizeMinRows="1"
					placeholder="Piso, Departamento, torre"
					formControlName="ref"
				>
				</textarea>

				@if (form.get('ref')?.value) {
					<app-component-button [type]="'ICON'" [icon]="'delete'" [suffix]="true" (click)="form.get('ref')?.setValue(null)" />
				}
			</div>
			<mat-hint align="end">{{ ref.value.length }}/345</mat-hint>
			@if (form.get('ref')?.invalid && form.get('ref')?.touched) {
				<mat-error>{{ getErrorMessage(form.get('ref')!) }}</mat-error>
			}
		</mat-form-field>

		<!-- Nota -->
		<mat-form-field appearance="outline">
			<mat-label>Nota</mat-label>

			<div class="fle gp-8">
				<textarea
					matInput
					#ref
					cdkTextareaAutosize
					maxlength="345"
					#autosize="cdkTextareaAutosize"
					cdkAutosizeMinRows="1"
					placeholder="Información adicional"
					formControlName="note"
				>
				</textarea>

				@if (form.get('ref')?.value) {
					<app-component-button [type]="'ICON'" [icon]="'delete'" [suffix]="true" (click)="form.get('note')?.setValue(null)" />
				}
			</div>
			<mat-hint align="end">{{ ref.value.length }}/345</mat-hint>
			@if (form.get('note')?.invalid && form.get('note')?.touched) {
				<mat-error>{{ getErrorMessage(form.get('note')!) }}</mat-error>
			}
		</mat-form-field>
	</form>
</main>
