<header class="flex bet pd-12">
	<div class="flex gp-4">
		<app-component-button [type]="'MINI'" [icon]="'navigate_before'" (click)="core.back()" />

		<h1>Ordenamiento</h1>
	</div>

	@if (change) {
		<button type="button" class="option" (click)="save()">Ver</button>
	}
</header>

<main class="grid gp-30 pd-12">
	<section class="grid bd br-4">
		<button type="button" class="flex bet pd-12" (click)="compare(0)">
			Ascendente

			<app-component-button
				[type]="'ICON'"
				[icon]="order === 0 ? 'check_circle' : 'radio_button_unchecked'"
				[color]="order === 0 ? 'var(--violet)' : ''"
			/>
		</button>

		<hr />

		<button type="button" class="flex bet pd-12" (click)="compare(1)">
			Descendente

			<app-component-button
				[type]="'ICON'"
				[icon]="order === 1 ? 'check_circle' : 'radio_button_unchecked'"
				[color]="order === 1 ? 'var(--violet)' : ''"
			/>
		</button>
	</section>

	<section class="bd br-4 limit" cdkDropList (cdkDropListDropped)="drop($event)">
		@for (item of selectedOptions; track $index) {
			<div class="flex bet pd-12 bw" cdkDrag cdkDragBoundary=".limit">
				{{ item }}

				<app-component-button [type]="'ICON'" [icon]="'drag_indicator'" cdkDragHandle />
			</div>

			@if (!$last) {
				<hr />
			}
		}
	</section>
</main>
