<div class="box three">
	<header class="flex gp-4 pd-12" [class.disabled]="user().status === loading">
		<app-component-button
			[type]="'MINI'"
			[icon]="'navigate_before'"
			[color]="user().status === loading ? '#c3c3c3' : undefined"
			(click)="user().status === loading ? null : core.back()"
		/>
		<p>Acceder a Laia</p>
	</header>

	<main class="fle col tx-center gp-30 pd-24">
		<div class="grid grid-place gp-8" style="min-height: 70px">
			@if (user().data.check === null) {
				<h1 class="tx-center">Ingresar</h1>
			} @else {
				<h2 class="tx-center">¡Bienvendio de vuelta!</h2>
			}

			@if (user().data.name || user().data.surname) {
				<h1 class="tx-center">{{ user().data.name || user().data.surname }}</h1>
			}
		</div>

		@if (mode === 'INITIAL') {
			<button type="button" class="btn--google flex cen gp-16 br-4" (click)="auth.login()">
				<svg viewBox="0 0 533.5 544.3" style="width: 24px; height: 24px">
					<path
						d="M533.5 278.4c0-18.5-1.5-37.1-4.7-55.3H272.1v104.8h147c-6.1 33.8-25.7 63.7-54.4 82.7v68h87.7c51.5-47.4 81.1-117.4 81.1-200.2z"
						fill="#4285f4"
					/>
					<path
						d="M272.1 544.3c73.4 0 135.3-24.1 180.4-65.7l-87.7-68c-24.4 16.6-55.9 26-92.6 26-71 0-131.2-47.9-152.8-112.3H28.9v70.1c46.2 91.9 140.3 149.9 243.2 149.9z"
						fill="#34a853"
					/>
					<path d="M119.3 324.3c-11.4-33.8-11.4-70.4 0-104.2V150H28.9c-38.6 76.9-38.6 167.5 0 244.4l90.4-70.1z" fill="#fbbc04" />
					<path
						d="M272.1 107.7c38.8-.6 76.3 14 104.4 40.8l77.7-77.7C405 24.6 339.7-.8 272.1 0 169.2 0 75.1 58 28.9 150l90.4 70.1c21.5-64.5 81.8-112.4 152.8-112.4z"
						fill="#ea4335"
					/>
				</svg>
				Iniciar sesión con Google
			</button>

			<button type="button" style="color: var(--grey)" (click)="mode = 'SQQ'">Accede con tu correo electrónico</button>
		}

		@defer (when mode === 'SQQ') {
			@if (mode === 'SQQ') {
				<form [formGroup]="form" class="grid gp-30 tx-center">
					<mat-form-field appearance="outline">
						<mat-label>Correo electrónico</mat-label>

						<div class="flex">
							<input matInput type="email" formControlName="email" placeholder="Ingrese su correo electrónico" />

							@if (user().data.check === null) {
								<app-component-button
									[type]="'ICON'"
									[icon]="'arrow_circle_right'"
									[suffix]="true"
									[color]="form.get('email')?.valid ? 'var(--violet)' : ''"
									[loading]="user().status === loading && user().data.check === null"
									(click)="login('CHECK')"
									(keydown.enter)="login('CHECK')"
								/>
							}
						</div>

						@if (form.get('email')?.invalid && form.get('email')?.touched) {
							<mat-error>{{ getErrorMessage(form.get('email')!) }}</mat-error>
						}
					</mat-form-field>

					@defer (when user().data.check === 1) {
						@if (user().data.check === 1) {
							<mat-form-field appearance="outline">
								<mat-label>Contraseña</mat-label>

								<div class="flex">
									<input matInput type="password" formControlName="password" placeholder="Ingrese su contraseña" />

									<app-component-button
										[type]="'ICON'"
										[icon]="'arrow_circle_right'"
										[color]="form.get('password')?.valid ? 'var(--violet)' : ''"
										[suffix]="true"
										[loading]="user().status === loading && user().data.check !== null"
										(click)="login('LOGIN')"
									/>
								</div>

								@if ((form.get('password')?.invalid && form.get('password')?.touched) || error) {
									<mat-error>
										{{ error ? 'Correo electrónico y/o contraseña incorrectos' : getErrorMessage(form.get('password')!) }}
									</mat-error>
								}
							</mat-form-field>

							<p class="flex cen gp-8" [class.disabled]="user().status === loading">
								<input type="checkbox" checked />Recuerdame en este dispositivo
							</p>

							<button type="button" class="flex gp-8 cen option" [class.disabled]="user().status === loading">
								Recibir acceso directo
								<app-component-button [type]="'ICON'" [icon]="'mail'" [color]="user().status === loading ? '#c3c3c3' : 'var(--violet)'" />
							</button>
						}
					}
				</form>
			}
		}
	</main>

	@defer (when mode !== 'SQQ') {
		<footer class="grid pd-12">
			@if (mode !== 'INITIAL') {
				<button type="button" (click)="mode = 'INITIAL'">Volver a elegir</button>
			}
		</footer>
	}
</div>
