h2 {
	background-color: #000;
	color: var(--white);
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 1px;
}

.container {
	min-height: 100%;
	height: var(--vh);
	max-height: 950px;
	display: grid;
	grid-template-rows: 1fr max-content;

	&--scroll {
		min-height: 100%;
		overflow-y: scroll;
		display: grid;
		grid-template-rows: max-content 1fr;
	}
}

footer div button {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 12px 16px;
	margin: 12px;
	background-color: rgba(234, 221, 255, 1);
	box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
	font-size: 16px;
}

.dinamic > div article {
	grid-template-columns: 1fr max-content;

	& .btn {
		padding: 12px 0 12px 12px;
	}
}
