h2 {
	background-color: #000;
	color: var(--white);
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 1px;
}

main {
	padding-bottom: 12px !important;

	& article {
		padding-bottom: 16px;
	}

	& section > div {
		grid-template-columns: 1fr max-content;

		& button {
			padding: 12px 0 12px 12px;

			& div {
				padding: 4px;
			}
		}
	}
}

.element__text {
	& p {
		word-break: break-word;
	}

	&--header {
		font-weight: 600;
		color: var(--required);
	}

	&--title {
		font-weight: 600;
		font-size: 17px;
	}
}

footer div button,
footer div app-component-loading {
	bottom: 0;
	right: 0;
	padding: 12px 16px;
	margin: 0 12px 12px 0;
	background-color: var(--rose);
	box-shadow: var(--shadow);
	font-size: 17px;
	font-weight: 600;
}

.pd-b-72 {
	padding-bottom: 72px !important;
}
