.br-bottom-4 {
	border-radius: 0 0 4px 4px;
}

.btn {
	grid-template-columns: max-content 1fr;
	font-size: 17px;
	font-weight: 600;
}

.date {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: rgb(33, 81, 224);
	color: white;
	display: grid;
	place-items: center;
	font-weight: 600;
}

/* ---------- ANGULAR MAT-ACCORDION ---------- */

mat-expansion-panel-header {
	background-color: var(--grey-light);
	border-radius: 4px 4px 0 0;
}

mat-panel-title {
	font-size: 15px;
	margin: 0;
}

.expansion-panel-body {
	animation: expand 2s ease-out;
}

.mat-expansion-panel-spacing {
	margin: 0;
}

.mat-accordion .mat-expansion-panel:not(.mat-expanded),
.mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
	border-radius: 4px;
}

.section--title {
	background-color: var(--grey-light);
	height: 48px;
}
