/* h1,


h1 {
	line-height: normal;
}

.disabled,
.disabled * {
	color: #c3c3c3;
} */

h1 {
	font-size: 17px;
	font-weight: 600;
	line-height: normal;
}

main section button {
	font-size: 17px;
	font-weight: 600;
}

mat-expansion-panel-header {
	background-color: var(--grey-light);
	border-radius: 4px 4px 0 0;
}

mat-panel-title {
	font-size: 15px;
	margin: 0;
}

.expansion-panel-body {
	animation: expand 2s ease-out;
}

.mat-expansion-panel-spacing {
	margin: 0;
}

.mat-accordion .mat-expansion-panel:not(.mat-expanded),
.mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
	border-radius: 4px;
}

.section--title {
	background-color: var(--grey-light);
	height: 48px;
}

.date {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: rgb(33, 81, 224);
	color: white;
	display: grid;
	place-items: center;
	font-weight: 600;
	/* line-height: normal; */
}
