<header class="flex gp-4 pd-12">
	<app-component-button [type]="'MINI'" [icon]="'navigate_before'" (click)="core.back()" />

	<h1>Emprendedor: Ventas</h1>
</header>

<main class="grid gp-24 pd-12 pb-44">
	<mat-accordion class="expansion-panel-pd grid gp-16">
		<mat-expansion-panel
			(opened)="panelOpenState = true"
			(closed)="panelOpenState = false"
			togglePosition="after"
			style="box-shadow: none"
			[expanded]="true"
			class="expansion-panel-content"
		>
			<mat-expansion-panel-header style="background-color: var(--grey-light); padding: 12px 16px 12px 12px; height: 48px">
				<mat-panel-title class="fle bet">Tiempo de entrega </mat-panel-title>
			</mat-expansion-panel-header>
			<div class="grid bd br-bottom-4">
				<button type="button" class="grid gp-8 pd-12" style="grid-template-columns: max-content 1fr">
					<app-component-button [type]="'ICON'" [icon]="'calendar_month'" class="pd-12" />
					<div class="grid gp-4 tx-left">
						<div class="flex gp-4">
							<p class="date">L</p>
							<p class="date">M</p>
						</div>
						Turno mañana
						<p>11:00 - 13:00</p>
					</div>
				</button>
			</div>
		</mat-expansion-panel>
	</mat-accordion>

	<mat-accordion class="expansion-panel-pd grid gp-16">
		<mat-expansion-panel [expanded]="true">
			<mat-expansion-panel-header style="background-color: var(--grey-light); padding: 12px 16px 12px 12px; height: 48px">
				<mat-panel-title>Tiempos de entrega</mat-panel-title>
			</mat-expansion-panel-header>

			<div class="grid bd br-bottom-4">
				<!-- ! Sin redirección -->
				<button type="button" class="grid gp-8 pd-12 btn">
					<!-- <app-component-button [type]="'ICON'" [icon]="'event'" class="pd-12" /> -->
					<app-component-button [type]="'ICON'" [icon]="'calendar_today'" class="pd-12" />
					<!-- <app-component-button [type]="'ICON'" [icon]="'calendar_month'" class="pd-12" /> -->

					<div class="grid gp-4 tx-left">
						<p class="required">Por activar</p>

						Adiciona una tanda
					</div>
				</button>
			</div>
		</mat-expansion-panel>
	</mat-accordion>

	<mat-accordion class="expansion-panel-pd grid gp-16">
		<mat-expansion-panel [expanded]="true">
			<mat-expansion-panel-header style="background-color: var(--grey-light); padding: 12px 16px 12px 12px; height: 48px">
				<mat-panel-title>Lugares de entrega</mat-panel-title>
			</mat-expansion-panel-header>

			<div class="grid bd br-bottom-4">
				<!-- ! Sin redirección -->
				<button type="button" class="grid gp-8 pd-12 btn">
					<!-- <app-component-button [type]="'ICON'" [icon]="'share_location'" class="pd-12" /> -->
					<app-component-button [type]="'ICON'" [icon]="'add_location_alt'" class="pd-12" />

					<div class="grid gp-4 tx-left">
						<p class="required">Por activar</p>

						Adiciona un lugar
					</div>
				</button>
			</div>
		</mat-expansion-panel>
	</mat-accordion>

	<mat-accordion class="expansion-panel-pd grid gp-16">
		<mat-expansion-panel [expanded]="true">
			<mat-expansion-panel-header style="background-color: var(--grey-light); padding: 12px 16px 12px 12px; height: 48px">
				<mat-panel-title>Métodos de pago</mat-panel-title>
			</mat-expansion-panel-header>

			<div class="grid bd br-bottom-4">
				<!-- ! Sin redirección -->
				<button type="button" class="grid gp-8 pd-12 btn">
					<!-- <app-component-button [type]="'ICON'" [icon]="'payments'" class="pd-12" /> -->
					<app-component-button [type]="'ICON'" [icon]="'add_card'" class="pd-12" />

					<div class="grid gp-4 tx-left">
						<p class="required">Por activar</p>

						Adiciona un método
					</div>
				</button>
			</div>
		</mat-expansion-panel>
	</mat-accordion>

	<mat-accordion class="expansion-panel-pd grid gp-16">
		<mat-expansion-panel [expanded]="true">
			<mat-expansion-panel-header style="background-color: var(--grey-light); padding: 12px 16px 12px 12px; height: 48px">
				<mat-panel-title>Dedicatoria de regalo</mat-panel-title>
			</mat-expansion-panel-header>

			<div class="grid bd br-bottom-4">
				<!-- ! Sin redirección -->
				<button type="button" class="grid gp-8 pd-12 btn">
					<app-component-button [type]="'ICON'" [icon]="'redeem'" class="pd-12" />

					<div class="grid gp-4 tx-left">
						<p class="required">Opcional al comprador</p>

						Virtual

						<p class="tx-visible">Texto en tarjeta. QR para multimedia.</p>
					</div>
				</button>

				<hr />

				<!-- ! Sin redirección -->
				<button type="button" class="grid gp-8 pd-12 btn">
					<app-component-button [type]="'ICON'" [icon]="'article'" class="pd-12" />

					<div class="grid gp-4 tx-left">
						<p class="required">Opcional al comprador</p>

						Tradicional

						<p class="tx-visible">Texto en tarjeta. QR para multimedia.</p>
					</div>
				</button>
			</div>
		</mat-expansion-panel>
	</mat-accordion>

	<mat-accordion class="expansion-panel-pd grid gp-16">
		<mat-expansion-panel [expanded]="true">
			<mat-expansion-panel-header style="background-color: var(--grey-light); padding: 12px 16px 12px 12px; height: 48px">
				<mat-panel-title>Configuración de facturas</mat-panel-title>
			</mat-expansion-panel-header>

			<div class="grid bd br-bottom-4">
				<!-- ! Sin redirección -->
				<button type="button" class="grid gp-8 pd-12 btn">
					<app-component-button [type]="'ICON'" [icon]="'forward_to_inbox'" class="pd-12" />

					<div class="grid gp-4 tx-left">
						<p class="required">Por activar</p>

						Adiciona correos electrónico o números de WhatsApp
					</div>
				</button>
			</div>
		</mat-expansion-panel>
	</mat-accordion>

	<mat-accordion class="expansion-panel-pd grid gp-16">
		<mat-expansion-panel [expanded]="true">
			<mat-expansion-panel-header style="background-color: var(--grey-light); padding: 12px 16px 12px 12px; height: 48px">
				<mat-panel-title>Estrategias</mat-panel-title>
			</mat-expansion-panel-header>

			<div class="grid bd br-bottom-4">
				<!-- ! Sin redirección -->
				<button type="button" class="grid gp-8 pd-12 btn">
					<app-component-button [type]="'ICON'" [icon]="'public'" class="pd-12" />

					<div class="grid gp-4 tx-left">
						<p class="required">Próximamente</p>

						Donde te promocionamos
					</div>
				</button>
			</div>
		</mat-expansion-panel>
	</mat-accordion>

	<mat-accordion class="expansion-panel-pd grid gp-16">
		<mat-expansion-panel [expanded]="true">
			<mat-expansion-panel-header style="background-color: var(--grey-light); padding: 12px 16px 12px 12px; height: 48px">
				<mat-panel-title>¿Qué venderás?</mat-panel-title>
			</mat-expansion-panel-header>

			<div class="grid bd br-bottom-4">
				<!-- ! Sin redirección -->
				<button type="button" class="grid gp-8 pd-12 btn">
					<app-component-button [type]="'ICON'" [icon]="'attach_money'" class="pd-12" />
					<!-- <app-component-button [type]="'ICON'" [icon]="'currency_exchange'" class="pd-12" /> -->

					<div class="grid gp-4 tx-left">
						<p class="required">Moneda del País</p>

						Configura la moneda de los pagos

						<p class="tx-visible">Tipo de moneda. Ubicación geográfica</p>
					</div>
				</button>

				<hr />

				<!-- ! Sin redirección -->
				<button type="button" class="grid gp-8 pd-12 btn">
					<app-component-button [type]="'ICON'" [icon]="'imagesearch_roller'" class="pd-12" />

					<div class="grid gp-4 tx-left">
						<p class="required">Próximamente</p>

						Color de tu tienda

						<p>Por defecto</p>
					</div>
				</button>
			</div>
		</mat-expansion-panel>
	</mat-accordion>
</main>
