h2 {
	font-size: 28px;
	font-weight: 400;
}

article {
	display: grid;
	grid-template-columns: 1fr max-content;
}

.btn {
	grid-template-columns: 48px 1fr;
	font-size: 17px;
	font-weight: 600;
	word-break: break-word;

	& div p {
		word-break: break-word;
	}
}

.article {
	grid-template-columns: 100px 1fr;
	font-size: 17px;
	font-weight: 600;
	word-break: break-word;

	& div {
		grid-template-rows: max-content 1fr max-content;
		padding: 4px;

		& p {
			word-break: break-word;
		}
	}

	& img {
		width: 100%;
		height: 100%;
		aspect-ratio: 1/1;
		object-fit: contain;
	}
}

.img--profile {
	background-color: var(--violet);
	width: 48px;
	height: 48px;

	& img {
		aspect-ratio: 1/1;
		object-fit: cover;
	}

	& p {
		font-size: 17px;
		font-weight: 600;
		color: var(--white);
		text-transform: uppercase;
	}
}

.merchant--image {
	background-color: var(--violet);
	width: 80px;
	height: 80px;
	margin: 8px 12px;

	& img {
		aspect-ratio: 1/1;
		object-fit: cover;
	}

	& p {
		font-size: 34px;
		font-weight: 600;
		color: var(--white);
		text-transform: uppercase;
	}
}

/* ---------- ANGULAR MAT-ACCORDION ---------- */

mat-expansion-panel-header {
	background-color: var(--grey-light);
	border-radius: 4px 4px 0 0;
}

mat-panel-title {
	font-size: 15px;
	margin: 0;
}

.expansion-panel-body {
	animation: expand 2s ease-out;
}

.mat-expansion-panel-spacing {
	margin: 0;
}

.mat-accordion .mat-expansion-panel:not(.mat-expanded),
.mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
	border-radius: 4px;
}
