.btn {
	grid-template-columns: 48px 1fr;
	word-break: break-word;

	& p {
		word-break: break-word;
	}
}

.img--profile {
	background-color: var(--violet);
	width: 48px;
	height: 48px;

	& img {
		aspect-ratio: 1/1;
		object-fit: cover;
	}

	& p {
		font-size: 17px;
		font-weight: 600;
		color: var(--white);
		text-transform: uppercase;
	}
}

main {
	position: relative;
	padding-bottom: 70px !important;
}

.confirm {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0 12px 12px 0;
	padding: 12px 16px;
	background-color: rgba(234, 221, 255, 1);
	box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
	font-size: 16px;
}
