<div class="box">
	<div>
		<header class="flex bet pd-12">
			<div class="flex gp-4">
				<app-component-button [type]="'MINI'" [icon]="'navigate_before'" (click)="core.back()" />

				<h1>Prefactura</h1>
			</div>

			<!-- <app-component-button [type]="'MINI'" [icon]="'navigate_next'" /> -->
		</header>

		<main class="grid gp-12 pd-12">
			<mat-accordion class="expansion-panel-pd grid gp-16">
				<mat-expansion-panel [expanded]="true">
					<mat-expansion-panel-header style="background-color: var(--grey-light); padding: 12px 20px 12px 12px; height: 48px">
						<mat-panel-title>Comprador</mat-panel-title>
					</mat-expansion-panel-header>

					<div class="grid bd br-bottom-4">
						<!-- ! Sin redirección -->
						@defer (when view === 'USER') {
							@if (view === 'USER') {
								@if (user) {
									<button type="button" class="btn grid gp-8 pd-12">
										<div class="img--profile br-50 grid-place">
											@if (user.image) {
												<img [src]="user.image" alt="Imagen del comerciante" class="br-50 w h" />
											} @else {
												<p>
													{{ user.name ? user.name!.charAt(0) : user.surname ? user.surname!.charAt(0) : user.email!.charAt(0) }}
												</p>
											}
										</div>

										<div class="grid tx-left">
											{{
												user.name && user.surname
													? user.name + ' ' + user.surname
													: user.name || user.surname
														? user.name ?? user.surname
														: user.phone
															? user.phone
															: user.email
											}}

											<p class="tx-visible">
												@if (user.name || user.surname || user.phone) {
													Correo: {{ user.email }} <br />
												}

												@if (user.name || user.surname) {
													Teléfono: {{ user.phone }}
												}
											</p>
										</div>
									</button>
								} @else {
									<button type="button" class="btn grid gp-8 pd-12">
										<app-component-button [type]="'ICON'" [icon]="'person'" class="pd-12" />

										<div class="grid gp-4 tx-left">
											No has iniciado sesión

											<p class="tx-visible">Inicia sesión</p>
										</div>
									</button>
								}
							}
						}

						@defer (when view === 'ADMIN') {
							@if (view === 'ADMIN') {
								@if (user) {
									<button type="button" class="btn grid gp-8 pd-12">
										<div class="img--profile br-50 grid-place">
											@if (user.image) {
												<img [src]="user.image" alt="Imagen del comerciante" class="br-50 w h" />
											} @else {
												<p>
													{{ user.name ? user.name!.charAt(0) : user.surname ? user.surname!.charAt(0) : user.email!.charAt(0) }}
												</p>
											}
										</div>

										<div class="grid tx-left">
											{{
												user.name && user.surname
													? user.name + ' ' + user.surname
													: user.name || user.surname
														? user.name ?? user.surname
														: user.phone
															? user.phone
															: user.email
											}}

											<p class="tx-visible">
												@if (user.name || user.surname || user.phone) {
													Correo: {{ user.email }} <br />
												}

												@if (user.name || user.surname) {
													Teléfono: {{ user.phone }}
												}
											</p>
										</div>
									</button>

									@if (view === 'ADMIN' && user.phone) {
										<button type="button" class="expansion-footer bet">
											Envía un WhatsApp

											<!-- <app-component-button [type]="'ICON'" [icon]="'chat'" /> -->

											<svg
												height="24px"
												id="Layer_1"
												style="enable-background: new 0 0 56.693 56.693"
												version="1.1"
												viewBox="0 0 56.693 56.693"
												width="24px"
												xml:space="preserve"
												xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink"
											>
												<style type="text/css">
													.st0 {
														fill-rule: evenodd;
														clip-rule: evenodd;
													}
												</style>
												<g>
													<path
														class="st0"
														d="M46.3802,10.7138c-4.6512-4.6565-10.8365-7.222-17.4266-7.2247c-13.5785,0-24.63,11.0506-24.6353,24.6333   c-0.0019,4.342,1.1325,8.58,3.2884,12.3159l-3.495,12.7657l13.0595-3.4257c3.5982,1.9626,7.6495,2.9971,11.7726,2.9985h0.01   c0.0008,0-0.0006,0,0.0002,0c13.5771,0,24.6293-11.0517,24.635-24.6347C53.5914,21.5595,51.0313,15.3701,46.3802,10.7138z    M28.9537,48.6163h-0.0083c-3.674-0.0014-7.2777-0.9886-10.4215-2.8541l-0.7476-0.4437l-7.7497,2.0328l2.0686-7.5558   l-0.4869-0.7748c-2.0496-3.26-3.1321-7.028-3.1305-10.8969c0.0044-11.2894,9.19-20.474,20.4842-20.474   c5.469,0.0017,10.6101,2.1344,14.476,6.0047c3.8658,3.8703,5.9936,9.0148,5.9914,14.4859   C49.4248,39.4307,40.2395,48.6163,28.9537,48.6163z"
													/>
													<path
														class="st0"
														d="M40.1851,33.281c-0.6155-0.3081-3.6419-1.797-4.2061-2.0026c-0.5642-0.2054-0.9746-0.3081-1.3849,0.3081   c-0.4103,0.6161-1.59,2.0027-1.9491,2.4136c-0.359,0.4106-0.7182,0.4623-1.3336,0.1539c-0.6155-0.3081-2.5989-0.958-4.95-3.0551   c-1.83-1.6323-3.0653-3.6479-3.4245-4.2643c-0.359-0.6161-0.0382-0.9492,0.27-1.2562c0.2769-0.2759,0.6156-0.7189,0.9234-1.0784   c0.3077-0.3593,0.4103-0.6163,0.6155-1.0268c0.2052-0.4109,0.1027-0.7704-0.0513-1.0784   c-0.1539-0.3081-1.3849-3.3379-1.8978-4.5706c-0.4998-1.2001-1.0072-1.0375-1.3851-1.0566   c-0.3585-0.0179-0.7694-0.0216-1.1797-0.0216s-1.0773,0.1541-1.6414,0.7702c-0.5642,0.6163-2.1545,2.1056-2.1545,5.1351   c0,3.0299,2.2057,5.9569,2.5135,6.3676c0.3077,0.411,4.3405,6.6282,10.5153,9.2945c1.4686,0.6343,2.6152,1.013,3.5091,1.2966   c1.4746,0.4686,2.8165,0.4024,3.8771,0.2439c1.1827-0.1767,3.6419-1.489,4.1548-2.9267c0.513-1.438,0.513-2.6706,0.359-2.9272   C41.211,33.7433,40.8006,33.5892,40.1851,33.281z"
													/>
												</g>
											</svg>
										</button>
									}
								} @else {
									<button type="button" class="btn grid gp-8 pd-12">
										<app-component-button [type]="'ICON'" [icon]="'person_add'" class="pd-12" />

										<div class="grid gp-4 tx-left">
											Sin comprador

											<p class="tx-visible">Adiciona un comprador</p>
										</div>
									</button>
								}
							}
						}
					</div>
				</mat-expansion-panel>
			</mat-accordion>

			<mat-accordion class="expansion-panel-pd grid gp-16">
				<mat-expansion-panel [expanded]="true">
					<mat-expansion-panel-header style="background-color: var(--grey-light); padding: 12px 20px 12px 12px; height: 48px">
						<mat-panel-title>Artículos</mat-panel-title>
					</mat-expansion-panel-header>

					<div class="grid bd br-bottom-4">
						<!-- ! Sin redirección -->
						<button type="button" class="btn grid gp-8 pd-12">
							<app-component-button [type]="'ICON'" [icon]="'add_shopping_cart'" class="pd-12" />

							<div class="grid gp-4 tx-left">
								Sin articulos

								<p class="tx-visible">Añade artículos</p>
							</div>
						</button>
					</div>
				</mat-expansion-panel>
			</mat-accordion>

			<mat-accordion class="expansion-panel-pd grid gp-16">
				<mat-expansion-panel [expanded]="true">
					<mat-expansion-panel-header style="background-color: var(--grey-light); padding: 12px 20px 12px 12px; height: 48px">
						<mat-panel-title>Datos de entrega</mat-panel-title>
					</mat-expansion-panel-header>

					<div class="grid bd br-bottom-4">
						<!-- ! Sin redirección -->
						<button type="button" class="btn grid gp-8 pd-12">
							<app-component-button [type]="'ICON'" [icon]="'location_on'" class="pd-12" />

							<div class="grid gp-4 tx-left">
								¿Dónde?

								<p class="tx-visible">Por defecto: dirección automática</p>
							</div>
						</button>

						<hr />

						<!-- ! Sin redirección -->
						<button type="button" class="btn grid gp-8 pd-12">
							<app-component-button [type]="'ICON'" [icon]="'calendar_month'" class="pd-12" />

							<div class="grid gp-4 tx-left">
								¿Cuándo?

								<p class="tx-visible">Por defecto: fecha automática</p>
							</div>
						</button>

						<button type="button" class="expansion-footer bet">
							¿Sorpresa? ¿Quién lo recibirá?...

							<app-component-button [type]="'ICON'" [icon]="'sticky_note_2'" />
						</button>
					</div>
				</mat-expansion-panel>
			</mat-accordion>

			<mat-accordion class="expansion-panel-pd grid gp-16">
				<mat-expansion-panel [expanded]="true">
					<mat-expansion-panel-header style="background-color: var(--grey-light); padding: 12px 20px 12px 12px; height: 48px">
						<mat-panel-title>Opcionales</mat-panel-title>
					</mat-expansion-panel-header>

					<div class="grid bd br-bottom-4">
						<!-- ! Sin redirección -->
						<button type="button" class="btn grid gp-8 pd-12">
							<app-component-button [type]="'ICON'" [icon]="'redeem'" class="pd-12" />

							<div class="grid gp-4 tx-left">
								Dedicatoria de regalo

								<p class="tx-visible">Incluye la dedicatoria</p>
							</div>
						</button>

						<!-- ! Sin redirección -->
						<!-- <hr />

				<button type="button" class="btn grid gp-8 pd-12">
					<app-component-button [type]="'ICON'" [icon]="'article'" class="pd-12" />

					<div class="grid gp-4 tx-left">
						Tipo de factura

						<p class="tx-visible">Por defecto: Tipo de factura automática</p>
					</div>
				</button> -->
					</div>
				</mat-expansion-panel>
			</mat-accordion>

			<mat-accordion class="expansion-panel-pd grid gp-16">
				<mat-expansion-panel [expanded]="true">
					<mat-expansion-panel-header style="background-color: var(--grey-light); padding: 12px 20px 12px 12px; height: 48px">
						<mat-panel-title>Vendedor</mat-panel-title>
					</mat-expansion-panel-header>

					<div class="grid bd br-bottom-4">
						<!-- ! Sin redirección -->
						<button type="button" class="btn grid gp-8 pd-12">
							<div class="img--profile br-50 grid-place">
								@if (merchant.image) {
									<img [src]="merchant.image" alt="Imagen del comerciante" class="br-50 w h" />
								} @else {
									<p>
										{{
											merchant.name ? merchant.name!.charAt(0) : merchant.surname ? merchant.surname!.charAt(0) : merchant.email!.charAt(0)
										}}
									</p>
								}
							</div>

							<div class="grid tx-left">
								{{
									merchant.name && merchant.surname
										? merchant.name + ' ' + merchant.surname
										: merchant.name || merchant.surname
											? merchant.name ?? merchant.surname
											: merchant.phone
												? merchant.phone
												: merchant.email
								}}

								<p class="tx-visible">
									@if (merchant.name || merchant.surname || merchant.phone) {
										{{ merchant.email }} <br />
									}

									@if (merchant.name || merchant.surname) {
										{{ merchant.phone }}
									}
								</p>
							</div>
						</button>

						@defer (when view === 'USER' && merchant.phone) {
							@if (view === 'USER' && merchant.phone) {
								<button type="button" class="expansion-footer bet">
									Envía un WhatsApp

									<!-- <app-component-button [type]="'ICON'" [icon]="'chat'" /> -->

									<svg
										height="24px"
										id="Layer_1"
										style="enable-background: new 0 0 56.693 56.693"
										version="1.1"
										viewBox="0 0 56.693 56.693"
										width="24px"
										xml:space="preserve"
										xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink"
									>
										<style type="text/css">
											.st0 {
												fill-rule: evenodd;
												clip-rule: evenodd;
											}
										</style>
										<g>
											<path
												class="st0"
												d="M46.3802,10.7138c-4.6512-4.6565-10.8365-7.222-17.4266-7.2247c-13.5785,0-24.63,11.0506-24.6353,24.6333   c-0.0019,4.342,1.1325,8.58,3.2884,12.3159l-3.495,12.7657l13.0595-3.4257c3.5982,1.9626,7.6495,2.9971,11.7726,2.9985h0.01   c0.0008,0-0.0006,0,0.0002,0c13.5771,0,24.6293-11.0517,24.635-24.6347C53.5914,21.5595,51.0313,15.3701,46.3802,10.7138z    M28.9537,48.6163h-0.0083c-3.674-0.0014-7.2777-0.9886-10.4215-2.8541l-0.7476-0.4437l-7.7497,2.0328l2.0686-7.5558   l-0.4869-0.7748c-2.0496-3.26-3.1321-7.028-3.1305-10.8969c0.0044-11.2894,9.19-20.474,20.4842-20.474   c5.469,0.0017,10.6101,2.1344,14.476,6.0047c3.8658,3.8703,5.9936,9.0148,5.9914,14.4859   C49.4248,39.4307,40.2395,48.6163,28.9537,48.6163z"
											/>
											<path
												class="st0"
												d="M40.1851,33.281c-0.6155-0.3081-3.6419-1.797-4.2061-2.0026c-0.5642-0.2054-0.9746-0.3081-1.3849,0.3081   c-0.4103,0.6161-1.59,2.0027-1.9491,2.4136c-0.359,0.4106-0.7182,0.4623-1.3336,0.1539c-0.6155-0.3081-2.5989-0.958-4.95-3.0551   c-1.83-1.6323-3.0653-3.6479-3.4245-4.2643c-0.359-0.6161-0.0382-0.9492,0.27-1.2562c0.2769-0.2759,0.6156-0.7189,0.9234-1.0784   c0.3077-0.3593,0.4103-0.6163,0.6155-1.0268c0.2052-0.4109,0.1027-0.7704-0.0513-1.0784   c-0.1539-0.3081-1.3849-3.3379-1.8978-4.5706c-0.4998-1.2001-1.0072-1.0375-1.3851-1.0566   c-0.3585-0.0179-0.7694-0.0216-1.1797-0.0216s-1.0773,0.1541-1.6414,0.7702c-0.5642,0.6163-2.1545,2.1056-2.1545,5.1351   c0,3.0299,2.2057,5.9569,2.5135,6.3676c0.3077,0.411,4.3405,6.6282,10.5153,9.2945c1.4686,0.6343,2.6152,1.013,3.5091,1.2966   c1.4746,0.4686,2.8165,0.4024,3.8771,0.2439c1.1827-0.1767,3.6419-1.489,4.1548-2.9267c0.513-1.438,0.513-2.6706,0.359-2.9272   C41.211,33.7433,40.8006,33.5892,40.1851,33.281z"
											/>
										</g>
									</svg>
								</button>
							}
						}
					</div>
				</mat-expansion-panel>
			</mat-accordion>
		</main>
	</div>

	<button type="button" class="confirm flex gp-8 br-4">
		<app-component-button [type]="'ICON'" [icon]="'done'" />

		Confirmar
	</button>
</div>
