<header class="flex bet pd-12">
	<h1>Nuevo Hashtag</h1>

	<app-component-button [type]="'MINI'" [icon]="'cancel'" (click)="close()" />
</header>

<main class="pd-12">
	<form [formGroup]="form">
		<mat-form-field appearance="outline" class="w">
			<mat-label>Hashtag</mat-label>

			<div class="flex">
				@if (form.get('hashtag')?.value) {
					<div matTextPrefix>#</div>
				}

				<input #input type="text" matInput placeholder="Ingrese un hashtag" formControlName="hashtag" maxlength="21" />

				@if (form.get('hashtag')?.value) {
					<app-component-button [type]="'ICON'" [icon]="'delete'" [suffix]="true" (click)="form.get('hashtag')?.setValue(null)" />
				}
			</div>

			<mat-hint [align]="'end'">{{ 20 - form.get('hashtag')?.value?.length }}</mat-hint>

			<mat-error>{{ getErrorMessage(form.get('hashtag')!) }}</mat-error>
		</mat-form-field>
	</form>
</main>
