mat-expansion-panel-header {
	background-color: var(--grey-light);
	border-radius: 4px 4px 0 0;
}

mat-panel-title {
	font-size: 15px;
	margin: 0;
}

.expansion-panel-body {
	animation: expand 2s ease-out;
}

.mat-expansion-panel-spacing {
	margin: 0;
}

.mat-accordion .mat-expansion-panel:not(.mat-expanded),
.mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
	border-radius: 4px;
}
