<div [class.box]="articles().status === initial">
	<header class="flex bet gp-8 pd-12">
		<div class="flex gp-4">
			<app-component-button [type]="'MINI'" [icon]="'navigate_before'" (click)="core.back()" />
			Artículos
		</div>
		<div class="flex gp-4">
			<app-component-button [type]="'MINI'" [icon]="'picture_as_pdf'" />
			<app-component-button [type]="'MINI'" [icon]="'add'" />
			<app-component-button [type]="'MINI'" [icon]="'filter_alt'" (click)="core.open('SORT')" />
			<app-component-button [type]="'MINI'" [icon]="'more_vert'" (click)="core.open('SHARE')" />
		</div>
	</header>

	<main class="pd-12">
		@defer (when articles().status !== initial) {
			<section class="bd br-4">
				@for (article of articles().items; track $index) {
					<button type="button" class="grid pd-12">
						@if (article.media) {
							<div #content_image class="br-12 skeleton-loader">
								@if (article.media.type === 'IMAGE') {
									<img
										#img
										style="display: none"
										class="br-4"
										[src]="article.media.url"
										[alt]="article.title ?? 'Imagen sin texto alternativo.'"
										(load)="loadImage(content_image, img)"
									/>
								} @else {
									<div class="no-image br-12 grid">Sin imagen</div>
								}
							</div>
						}

						<div class="gp-4 h tx-left pd-8" style="display: grid; grid-template-rows: max-content 1fr max-content">
							<p class="required">
								{{ article.stock.type === 'UNIT' ? 'Unidades' : 'Paquetes' }}: {{ article.stock.quantity ?? 'ilimitadas' }}
							</p>

							<p class="tx-3">{{ article.title }}</p>

							<p>{{ currency(article.price.amount) }}</p>
						</div>
					</button>

					@if ($index < articles().items.length - 1) {
						<hr />
					}
				}
			</section>
		} @placeholder {
			<app-component-loading [transform]="'2'" />
		}
	</main>
</div>
