<header>
	<h1>Nuevas Palabras Claves</h1>
</header>

<main>
	<form [formGroup]="form" class="grid">
		<mat-form-field appearance="outline">
			<mat-label>Palabras Claves</mat-label>

			<div class="flex gp-8">
				<textarea
					matInput
					cdkTextareaAutosize
					#autosize="cdkTextareaAutosize"
					cdkAutosizeMinRows="1"
					placeholder="Ingrese palabras clave"
					formControlName="keywords"
				>
				</textarea>

				@if (form.get('keywords')?.value) {
					<app-component-button
						[type]="'ICON'"
						[icon]="'delete'"
						[suffix]="true"
						(click)="form.get('keywords')?.setValue(null)"
					/>
				}
			</div>

			@if (form.get('keywords')?.invalid && form.get('keywords')?.touched) {
				<mat-error>{{ getErrorMessage(form.get('keywords')!) }}</mat-error>
			}
		</mat-form-field>
	</form>
</main>
