.dialog {
	width: 100vw;
	max-width: 450px;
	height: var(--vh);
	max-height: 950px;
	display: grid;
	grid-template-rows: 1fr max-content;
	margin: 0 auto;

	&--btn {
		min-width: 100%;
		min-height: 100%;
	}

	&--content {
		border-radius: 12px 12px 0 0;
		background-color: var(--white);
		-webkit-animation: slide-in 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		animation: slide-in 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	}
}

.slide-out {
	-webkit-animation: slide-out 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both !important;
	animation: slide-out 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both !important;
}

@-webkit-keyframes slide-in {
	from {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0;
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-in {
	from {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0;
	}
	to {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes slide-out {
	from {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	to {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0;
	}
}

@keyframes slide-out {
	from {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	to {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0;
	}
}
