.btn {
	word-break: break-word;
	& p {
		word-break: break-word;
		font-size: 17px;
	}
}

.img--profile {
	width: 34px;
	height: 34px;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}

#video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	transform: translateX(-50%) translateY(-50%);
	opacity: 0.5;
}

.button-icon {
	background: #000;
	width: 38px;
	height: 38px;
	border-radius: 50%;
}

.ts h2,
p {
	display: grid;
	word-break: break-word;
}

.ts h2 {
	font-size: 35px;
}

.ts p {
	font-size: 20px;
}

.indicators {
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: center;
	& span {
		cursor: pointer;
		width: 12px;
		height: 12px;
		border: 1px solid black;
		border-radius: 50%;
		transition: opacity 0.6 ease;
		opacity: 0.5;
	}
}
.active {
	opacity: 1;
	background-color: #fff;
}

.img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
