<header class="flex gp-4 pd-12">
	<app-component-button [type]="'MINI'" [icon]="'navigate_before'" (click)="core.back()" />

	<h1>Menu de {{ config.name }}</h1>
</header>

<main class="grid gp-16 pd-12">
	<section class="grid bd br-4">
		@if (edit) {
			<button type="button" class="flex bet pd-12">
				Renombrar biblioteca

				<app-component-button [type]="'ICON'" [icon]="'edit'" />
			</button>

			<hr />
		}

		<button type="button" class="flex bet pd-12">
			Nuevo {{ config.disminutive }}

			<app-component-button [type]="'ICON'" [icon]="'add'" />
		</button>

		<hr />

		<button type="button" class="flex bet pd-12">
			Enlace directo de acceso rápido

			<!-- !COLOCAR EL ICONO CORRECTO -->
			<app-component-button [type]="'ICON'" [icon]="'edit'" />
		</button>

		<hr />

		<button type="button" class="flex bet pd-12">
			Descargar PDF
			<!-- !COLOCAR EL ICONO CORRECTO -->
			<app-component-button [type]="'ICON'" [icon]="'edit'" />
		</button>

		<hr />

		<button type="button" class="flex btn bet pd-12">
			<div class="grid gp-4 tx-left">
				<p class="required tx-visible">Filtro</p>

				Todos los ID

				<p class="tx-visible">N ID</p>
			</div>
			<app-component-button [type]="'ICON'" [icon]="'filter_alt'" />
		</button>

		<hr />

		<button type="button" class="flex btn bet pd-12" (click)="change()">
			<div class="grid gp-4 tx-left">
				<p class="required tx-visible">Ordenamiento</p>

				Por {{ config.order }}

				<p class="tx-visible">{{ config.asc === 0 ? 'Descendente' : 'Ascendente' }}</p>
			</div>

			<app-component-button [type]="'ICON'" [icon]="'unfold_more'" />
		</button>

		<hr />

		<button type="button" class="flex btn bet pd-12">
			<div class="grid gp-4 tx-left">
				<p class="required tx-visible">Vista de miniatura</p>

				Clásica
			</div>

			<app-component-button [type]="'ICON'" [icon]="'edit'" />
		</button>
	</section>

	<section class="grid bd br-bottom-4">
		<button type="button" class="flex bet pd-12" style="background-color: var(--grey-light)">
			Califícanos

			<div class="flex gp-16">
				@for (star of stars; track $index) {
					@if (rating >= $index + 1) {
						<app-component-button color="#dfb82a" [type]="'ICON'" [icon]="'star'" (click)="rating = $index + 1" />
					} @else {
						<app-component-button color="#dfb82a" [type]="'ICON'" [icon]="'star_border'" (click)="rating = $index + 1" />
					}
				}
			</div>
		</button>

		<hr />

		<button type="button" class="btn grid gp-8 pd-12">
			<div class="img--profile br-50 grid-place">
				<img src="https://placehold.co/100x100" alt="Imagen del comerciante" class="br-50 w h" />
			</div>

			<div class="grid tx-left">
				Comunicate con Daviel

				<p class="tx-visible">
					+5252525353
					<br />

					{{ 'davieltraveras@hotmail.com' }}
				</p>
			</div>
		</button>
	</section>
</main>
