main {
	position: relative;
	padding-bottom: 70px !important;
}

.btn {
	grid-template-columns: 48px 1fr;
	word-break: break-word;

	& p {
		word-break: break-word;
	}
}

.img--profile {
	background-color: var(--violet);
	width: 48px;
	height: 48px;

	& img {
		aspect-ratio: 1/1;
		object-fit: cover;
	}

	& p {
		font-size: 17px;
		font-weight: 600;
		color: var(--white);
		text-transform: uppercase;
	}
}
