<header class="flex bet pd-12">
	<div class="flex gp-4">
		<app-component-button [type]="'MINI'" [icon]="'navigate_before'" (click)="core.back()" />

		<h1>Filtros del reporte</h1>
	</div>

	@if (change()) {
		<button type="button" class="option" (click)="save()">Guardar</button>
	}
</header>

<main class="fle col gp-24 pd-12 pb-44">
	<app-component-btn-input
		[placeholder]="'Seleccione una fecha'"
		[label]=""
		[icon]="false ? 'add' : 'calendar_month'"
		(click)="core.open('DATE-RANGE')"
	/>

	@for (item of data; track $index) {
		<mat-accordion class="expansion-panel-pd grid gp-16">
			<mat-expansion-panel (opened)="item.config.openState = true" (closed)="item.config.openState = false" [expanded]="true">
				<mat-expansion-panel-header style="background-color: var(--grey-light); padding: 12px 20px 12px 12px; height: 48px">
					<mat-panel-title>{{ item.name }} {{ !item.config.openState ? '(' + calcTotal(item.items) + ')' : '' }}</mat-panel-title>
				</mat-expansion-panel-header>

				<div class="grid bd br-bottom-4">
					@for (a of item.items; track $index) {
						<button type="button" class="btn grid gp-8 pd-12 tx-left" (click)="check(item.items, $index, item.config.multiple)">
							{{ a.id }}

							<app-component-button
								[type]="'ICON'"
								[icon]="a.check ? 'check_circle' : 'radio_button_unchecked'"
								[color]="a.check ? 'var(--violet)' : ''"
							/>
						</button>
						@if (a.length !== $index) {
							<hr />
						}
					}

					<div class="expansion-footer">
						<p class="w tx-right">{{ calcTotal(item.items) }}</p>
					</div>
				</div>
			</mat-expansion-panel>
		</mat-accordion>
	}
</main>
