<header class="grid gp-16 pd-12">
	<div class="flex gp-4">
		<app-component-button [type]="'MINI'" [icon]="'navigate_before'" (click)="core.back()" />

		<h1>Tiempo de entrega</h1>
	</div>

	<section class="grid btns">
		<button class="bd" [class.bd-active]="mode === 'DAY'" (click)="select('DAY')">Segun el dia</button>

		<button class="bd" [class.bd-active]="mode === 'DATE'" (click)="select('DATE')">Segun la fecha</button>
	</section>
</header>

<main class="grid gp-30 pd-12">
	<form [formGroup]="form" class="grid gp-30">
		@defer (when mode === 'DAY') {
			@if (mode === 'DAY') {
				<div class="grid gp-12 pd-12 bd br-4" style="border-color: #9e9e9e">
					<p>Días de la tanda *</p>

					<mat-chip-listbox multiple="multiple" class="mat-mdc-chip-set-stacked" formControlName="days" aria-label="Seleccione un dia">
						<!-- ! Fix this. -->
						<mat-chip-option>Lunes</mat-chip-option>

						<mat-chip-option>Martes</mat-chip-option>

						<mat-chip-option>Miercoles</mat-chip-option>

						<mat-chip-option>Jueves</mat-chip-option>

						<mat-chip-option>Viernes</mat-chip-option>

						<mat-chip-option>Sabado</mat-chip-option>

						<mat-chip-option>Domingo</mat-chip-option>
					</mat-chip-listbox>
				</div>
			}
		}

		@defer (when mode === 'DATE') {
			@if (mode === 'DATE') {
				<!-- ! Fix this. -->
				<button type="button" class="btn--direction flex bet pd-16 br-4" (click)="core.open('CALENDAR')">
					Seleccione una fecha especifica *

					<app-component-button [type]="'ICON'" [icon]="'calendar_month'" />
				</button>
			}
		}

		<!-- ! Fix this. -->
		<button type="button" class="btn--direction flex bet pd-16 br-4" (click)="core.open('TIME-RANGE')">
			Rango de tiempo *
			<app-component-button [type]="'ICON'" [icon]="'schedule'" />
		</button>

		<mat-form-field appearance="outline">
			<mat-label>Cantidad de entregas posibles</mat-label>

			<div class="flex gp-4">
				<input formControlName="amount" type="number" matInput placeholder="Ingrese la cantidad de entregas" />

				@if (form.get('amount')?.value) {
					<app-component-button [type]="'ICON'" [icon]="'delete'" [suffix]="true" (click)="form.get('amount')?.setValue(null)" />
				}
			</div>
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Nombre de la tanda</mat-label>

			<div class="flex gp-4">
				<input formControlName="name" type="text" matInput placeholder="Ingrese el nombre de la tanda" />

				@if (form.get('name')?.value) {
					<app-component-button [type]="'ICON'" [icon]="'delete'" [suffix]="true" (click)="form.get('name')?.setValue(null)" />
				}
			</div>
		</mat-form-field>
	</form>
</main>
